button {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: black;
  border: none;
  outline: none;
}

button:active {
  color: lightgreen;
  background-color: gray;
}
